$color-text-default: var(--color-blue-100);
$color-text-accent: var(--color-neon-green-100);
$color-background-default: var(--color-blue-400);
$color-background-primary: var(--color-blue-300);
$color-shadow-default: var(--color-neon-green-100);
