@use "../abstract/" as *;
@use "../util/" as *;

.button {
  position: absolute;
  left: 50%;
  bottom: -3.1rem;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.4rem;
  height: 6.4rem;
  background-color: $color-background-button;
  border: none;
  border-radius: 999rem;
  outline: none;
  cursor: pointer;
  transition: box-shadow 500ms ease;

  &:hover {
    box-shadow: 0 0 40px 1px rgba(#52ffa8, 0.8);
  }
}
